#
# Editor related
#
*~
*#
.#*
*.autosave
*.~?~
*.save

#
# File containing user's Tudat binary path
#
.tudatbinpath

#
# Input and output files in examples directory
#
# examples/*.json
# examples/*.txt

tests/